.sidebar {
    grid-area: nav;
    background: #5332e2;
    padding: 20px;

}
.item {

   /* color: #00cc14;*/
}
.item a {
    text-decoration: none;
    color: #751274;
}
.item .active{

    color: black;
}