.app-wrapper{
  margin: auto;
  display: grid;
  max-width: 1200px;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}


