.app-wrapper{
  margin: auto;
  display: grid;
  max-width: 1200px;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.header {
  grid-area: header;
  background: #ef57ef;
}
.sidebar {
  grid-area: nav;
  background: #5332e2;
}
.content {
  grid-area: content;
  background: aqua;
}
.content img{
  display: block;
  max-width:70%;

  width: auto;
  height: auto;

}